* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --bg-1: #343334;
    --bg-2: #565556;
}

body {
    background-color: var(--bg-1);
    padding-top: 200px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

table.dataTable {
    background-color: var(--bg-2);
    border: 1px solid black;
    border-radius: 12px;
    width: 400px;
    height: 300px;
    text-align: center;
}

.chart {
    width: 600px;
    height: 300px;
    display: block;
}

.numbers {
    color: #fff;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 300px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    float: left;
}

.numbers li {
    list-style: none;
    position: relative;
}

.numbers span {
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
}

.bars {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    background: #555;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 500px;
    height: 300px;
    box-shadow: 0 0 10px 0 #555;
    border-radius: 5px;
}

.bars li {
    display: table-cell;
    width: 100px;
    height: 300px;
    position: relative;
}

.bars span {
    width: 100%;
    position: absolute;
    bottom: -30px;
    text-align: center;
}

.bars .bar {
    display: block;
    background: #17C0EB;
    width: 50px;
    position: absolute;
    bottom: 0;
    margin-left: 25px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(23, 192, 235, 0.5);
    transition: 0.5s;
}

.bars .bar:hover {
    background: #55EFC4;
    box-shadow: 0 0 10px 0 rgba(85, 239, 196, 0.5);
    cursor: pointer;
}

.bars .bar:before {
    color: #fff;
    content: attr(data-percentage) '%';
    position: relative;
    bottom: 20px;
}